.top-shows {
    margin: 20px 0;
  }
  .top-shows h3{
    width: 294px;
height: 68px;
top: 561px;
left: 79px;
font-size: 40px;
font-weight: 500;
line-height: 67.77px;
text-align: left;
color: rgba(51, 98, 200, 1);
  }
  
  .shows-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content:left;
    cursor: pointer;
  }
  .show-card:hover{
   transform:translateY(1);
  }
  .show-card {
    text-align: center;
  }
  
  .show-card img {
    width: 150px;
    border-radius: 8px;
  }
  